* {
  box-sizing: border-box;
}

html,
body {
  color: $color-text;
  font-size: $font-size;
  font-family: $font-family-content, $font-family-fallback;

  @media screen AND (min-width: $breakpoint-medium) {
    font-size: $font-size-medium;
  }

  @media screen AND (min-width: $breakpoint-large) {
    font-size: $font-size-large;
  }
}

body {

  &.menu--visible {
    
    .wrapper {
      // https://developer.mozilla.org/fr/docs/Web/CSS/filter
      filter: blur(5px);
    }

    .menu {
      visibility: visible;
    }
  }
}

a {
  text-decoration: none;
  color: $color-text;
}