.contact-form {

  &__button,
  .wpcf7-submit {
    display: block;
    width: 80%;
    color: $color-text-alt;
    background-color: $color-bg;
    font-weight: bold;
    padding: 0.5em;
    margin: 0.8em auto;
    border: none;
  }
}
