.main-nav {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.8px;
  margin-bottom: 1em;
  width: 50%;

  &__item {
    text-align: center;
    padding: 1em;
    border-bottom: 2px solid transparentize($color, 0.7);

    &:last-child {
      border-bottom: none;
    }
  }

}