/* font-awesome */
$fa-font-path: '~font-awesome/fonts';

/* Breakpoints */
$breakpoint-medium: 500px;
$breakpoint-large: 800px;
$breakpoint-xl: 1200px;

/* Fonts */
$font-size: 16px;
$font-size-medium: 18px;
$font-size-large: 20px;

$font-family-content: 'Roboto', sans-serif;
$font-family-title: 'Roboto Slab', serif;
$font-family-fallback: 'Helvetica', 'Arial', sans-serif;

/* colors */
$white: #fff;
$black: #000;
$light-blue: #7abcfd;
$light-purple: #8885fc;
$dark-purple: #292f4c;

$posts-filter-colors: (
  1: #7BC5DE,
  2: #66737B,
  3: #DD8F8B,
  4: #EABA94,
  5: #014279,
  6: #86C3AF
);

/* color's attribution */
$color: $light-blue;
$color-alt: $light-purple;
$color-text: $white;
$color-text-alt: $dark-purple;
$color-bg: $white;
$color-bg-alt: $black;
$color-bg-footer: $dark-purple;

/* animations */
$duration-slow: 1s;
$duration-medium: 0.5s;
$duration-fast: 0.3s;

/* element size */
$header_menu: 130px;
$header_menu-on-mobile: 90px;



